@page
@model eForms.Pages.Form.OpenNet.CreateOpenNetReqModel
@{ ViewData["Title"] = "eForms Application";
    ViewData["breadcrumb1"] = "Home";
    ViewData["breadcrumb2"] = "Form"; }
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h2>Create New OpenNet Request</h2>
            </div>
        </div>
    </div>
</div>

