<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="/#">
                    <i class="nav-icon icon-speedometer"></i> Dashboard
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/Dashboard/eForms">
                            <i class="nav-icon icon-speedometer"></i> eForms Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Dashboard/CSC">
                            <i class="nav-icon icon-speedometer"></i> CSC Dashboard
                        </a>
                    </li>
                </ul>
            </li>

            <li class="divider"></li>

            <li class="nav-title">My Module</li>
            <li class="nav-item">
                <a class="nav-link" href="/Main/MyRequests">
                    <i class="nav-icon icon-cursor"></i> My Request
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Main/Forms">
                    <i class="nav-icon icon-layers"></i> Form Catalog
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="nav-icon icon-envelope"></i> Support/Feedback
                </a>
            </li>

            <li class="divider"></li>
            <li class="nav-title">Admin Module</li>
            @*<li class="nav-item">
                <a class="nav-link" href="/Admin/Inventory/">
                    <i class="nav-icon icon-grid"></i> ISC Inventory
                </a>
            </li>*@

            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="/Admin/Inventory/">
                    <i class="nav-icon icon-settings"></i> ISC Inventory
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Inventory/Sims">
                            <i class="nav-icon icon-puzzle"></i> Sims
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Inventory/Cellphones">
                            <i class="nav-icon icon-puzzle"></i> Cellphones
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Inventory/IssuesReturns">
                            <i class="nav-icon icon-puzzle"></i> Issue/Return
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-settings"></i> Settings
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Settings/AnnexBuildings/AnnexBuildings">
                            <i class="nav-icon icon-puzzle"></i> Building/Annex
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Settings/Countries/Countries">
                            <i class="nav-icon icon-puzzle"></i> Country
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Settings/EmpTypes/EmpTypes">
                            <i class="nav-icon icon-puzzle"></i> Employee Type
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Settings/Forms/Forms">
                            <i class="nav-icon icon-puzzle"></i> Forms
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Settings/IPC/IPC">
                            <i class="nav-icon icon-puzzle"></i> IPC
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Settings/ISO/ISO">
                            <i class="nav-icon icon-puzzle"></i> ISO
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Settings/ISSO/ISSO">
                            <i class="nav-icon icon-puzzle"></i> ISSO
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Settings/Languages/Languages">
                            <i class="nav-icon icon-puzzle"></i> Languages Skill
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Settings/MilRanks/MilRanks">
                            <i class="nav-icon icon-puzzle"></i> Military Rank
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Settings/Posts/Posts">
                            <i class="nav-icon icon-puzzle"></i> Posts
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Settings/Prefixes/Prefixes">
                            <i class="nav-icon icon-puzzle"></i> Prefixes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Settings/Relationship/Relationships">
                            <i class="nav-icon icon-puzzle"></i> Relationship
                        </a>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Settings/Sections/Sections">
                            <i class="nav-icon icon-puzzle"></i> Office Symbol
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Settings/States/States">
                            <i class="nav-icon icon-puzzle"></i> States
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-settings"></i> Permissions
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Authorization/ManageUsers">
                            <i class="nav-icon icon-puzzle"></i> Users
                        </a>
                    </li>
                    @*<li class="nav-item">
                        <a class="nav-link" href="/Admin/Authorization/UserRoles">
                            <i class="nav-icon icon-puzzle"></i> User Roles
                        </a>
                    </li>*@
                </ul>
            </li>
        </ul>
</nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>