@page
@{ ViewData["Title"] = "eForms Application";
    ViewData["breadcrumb1"] = "Home";
    ViewData["breadcrumb2"] = "Form Catalog"; }
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <h2>Form Catalog</h2>
            </div>
        </div>
    </div>
</div>