@page
@{ ViewData["Title"] = "eForms Application";
                ViewData["breadcrumb1"] = "Dashboard";
                ViewData["breadcrumb2"] = "eForms"; }
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h2>eForms Dashboard</h2>
            </div>
        </div>
    </div>
</div>