@page
@model eForms.Pages.IndexModel
@{
    ViewData["Title"] = "eForms Application";
    ViewData["breadcrumb1"] = "Home";
    ViewData["breadcrumb2"] = "Forms Catalog";
}

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <h2> @ViewData["breadcrumb2"]</h2>
            </div>
        </div>
        <!-- /.row-->
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <a asp-page="/Forms/NewArrival/CreateNewArrivalReq" asp-route-id="18" style="display:block;text-decoration:none;">

                    <div class="card text-white bg-danger" style="height:200px;">
                        <div class="card-body pb-0">
                            <i class="icon-paper-plane icons font-5xl"></i>
                            <div class="text-value">New Arrival Request</div>
                            <div class="text-value-lg py-3">CSC</div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- /.col-->
            <div class="col-sm-6 col-lg-3">
                <a asp-page="/Forms/OpenNet/CreateOpenNetReq" asp-route-id="18" style="display:block;text-decoration:none;">
                    <div class="card text-white bg-blue" style="height:200px;">
                        <div class="card-body pb-0">
                            <i class="icon-people icons font-5xl"></i>
                            <div class="text-value">OpenNet Account Request</div>
                            <div class="text-value-lg py-3">IRM</div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- /.col-->
            <div class="col-sm-6 col-lg-3">
                <a asp-page="/Forms/ClassNet/CreateClassNetReq" asp-route-id="18" style="display:block;text-decoration:none;">
                    <div class="card text-white bg-gray" style="height:200px;">

                        <div class="card-body pb-0">
                            <i class="icon-shield icons font-5xl"></i>
                            <div class="text-value">ClassNet Account Request</div>
                            <div class="text-value-lg py-3">IRM</div>
                        </div>
                    </div>
                </a>

            </div>
            <!-- /.col-->
            <div class="col-sm-6 col-lg-3">
                <a asp-page="/Forms/DS7642/CreateDS7642Req" asp-route-id="18" style="display:block;text-decoration:none;">
                    <div class="card text-white bg-green" style="height:200px;">

                        <div class="card-body pb-0">
                            <i class="icon-note icons font-5xl"></i>
                            <div class="text-value">DS7642-Device Request</div>
                            <div class="text-value-lg py-3">IRM</div>
                        </div>
                    </div>
                </a>

            </div>
            <!-- /.col-->

        </div>
        <!-- /.row-->
        
    </div>
</div>
