@page
@model eForms.Pages.Admin.EditSectionModel
@{ ViewData["Title"] = "eForms Application";
    ViewData["breadcrumb1"] = "Settings";
    ViewData["breadcrumb2"] = "Office Symbol"; }
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-6 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong>@ViewData["breadcrumb2"] - Edit</strong>
                    </div>
                    <form class="form-horizontal" method="post">
                        <input type="hidden" asp-for="office.Id" />
                        <div class="card-body">

                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="text-input" asp-for="office.sectionabbr"></label>
                                <div class="col-md-9">
                                    <input asp-for="office.sectionabbr" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="text-input" asp-for="office.sectionname"></label>
                                <div class="col-md-9">
                                    <input asp-for="office.sectionname" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="text-input" asp-for="office.icasscode"></label>
                                <div class="col-md-9">
                                    <input asp-for="office.icasscode" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="select1">Is Disabled?</label>
                                <div class="col-md-9">
                                    <select asp-for="office.Disabled" class="form-control">
                                        <option value="false">False</option>
                                        <option value="true">True</option>

                                    </select>
                                </div>
                            </div>


                        </div>
                        <div class="card-footer">
                            <input type="submit" value="Submit" class="btn btn-primary" />
                            <a asp-page="Sections" class="btn btn-danger">Back to List</a>
                        </div>
                    </form>
                </div>

            </div>

            <!-- /.col-->
        </div>
        <!-- /.row-->
    </div>
</div>